/* Global CSS variables */
:root {
  --maxwidth: 960px;
  --maxwidth-content: 860px;
  --breakpoint-mobile-max: 767px;

  --spacing-base: 16px;
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
  --spacing-xxlarge: 48px;
  --spacing-xxxlarge: 64px;
  --spacing-gigantic: 96px;
}

$spacing-xsmall: ($spacing * 0.25);
$spacing-small: ($spacing * 0.5);
$spacing-smaller: ($spacing * 0.75);
$spacing-medium: ($spacing * 1.5);
$spacing-large: ($spacing * 2);
$spacing-xlarge: ($spacing * 2.5);
$spacing-xxlarge: ($spacing * 3); /* 48px */
$spacing-xxxlarge: ($spacing * 4); /* 64px */
$spacing-gigantic: ($spacing * 6); /* 96px */

/* Globals styles */
body {
  font-family: "brandon text", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}


.maxwidth {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  @media (max-width: var(--breakpoint-mobile-max)) {
    margin: 0 var(--spacing-large);
  }
}

.header {
  margin: var(--spacing-large) 0;
}

.content {
  max-width: var(--maxwidth-content);
  margin: 0 auto;
  @media (max-width: var(--breakpoint-mobile-max)) {
    margin: 0 var(--spacing-large);
  }
}

.photo-slides {}
.photo-slide {}
.photo {}
