/* Global CSS variables */
:root {
  --maxwidth: 960px;
  --maxwidth-content: 860px;
  --breakpoint-mobile-max: 767px;

  /* Globally applicable spacings */
  --spacing-base: 16px;
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
  --spacing-xxlarge: 48px;
  --spacing-xxxlarge: 64px;
  --spacing-gigantic: 96px;

  --font-size-header: 18px;

  --color-body-bg: #EAEAEA;

  --type-body: 'Montserrat', sans-serif;
}



/* Globals HTML elements */
body {
  background-color: var(--color-body-bg);
  font-family: var(--type-body);
}

a {
  text-decoration: none;
}



/* Global utilities */
.maxwidth {
  max-width: var(--maxwidth);
  margin: 0 auto;
  @media (max-width: var(--breakpoint-mobile-max)) {
    margin: 0 var(--spacing-large);
  }
}



/* Header */
.header {
  margin: var(--spacing-large) auto;
  font-size: var(--font-size-header);
}

.logo {
}



/* Content */
.content {
  margin: 0 var(--spacing-xxlarge);
}

.photo-slides {}
.photo-slide {}
.photo {}

/* Slick overrides */
.slick-center {
  width: 400px;
}
.slick-arrow {
  position: absolute;
  z-index: 100;
}
.slick-prev {
  top: 0;
  right: 50px;
}
.slick-next {
  top: 0;
  right: 0;
}
