/* Global CSS variables */
:root {
  --maxwidth: 960px;
  --maxwidth-content: 860px;
  --breakpoint-mobile-max: 767px;

  --spacing-base: 16px;
  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;
  --spacing-xxlarge: 48px;
  --spacing-xxxlarge: 64px;
  --spacing-gigantic: 96px;

  --color-body-bg: white;
}



/* Globals HTML elements */
body {
  background-color: var(--color-body-bg);
}

a {
  text-decoration: none;
}



/* Global utilities */
.maxwidth {
  max-width: var(--maxwidth);
  margin-left: auto;
  margin-right: auto;
  @media (max-width: var(--breakpoint-mobile-max)) {
    margin: 0 var(--spacing-large);
  }
}



/* Header */
.header {
  margin: var(--spacing-large) auto;
}

.logo {
  font-size: 32px;
}



/* Content */
.content {
  max-width: var(--maxwidth-content);
  margin: 0 auto;
  @media (max-width: var(--breakpoint-mobile-max)) {
    margin: 0 var(--spacing-large);
  }
}

.photo-slides {}
.photo-slide {}
.photo {}
