body {
  font-family: "brandon text", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.header {
}

.maxwidth {
  max-width: 960px;
  margin: 0 auto;
  @media (max-width: 767px) {
    margin: 0 32px;
  }
}
