@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-regular.svg#brandon_text_regularregular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-medium.svg#brandon_textmedium') format('svg'); /* Legacy iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-bold.svg#brandon_textbold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

body {
  font-family: "brandon text", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  /* Some fancy pastel transition shit*/
  /*background: linear-gradient(0deg, #F7F5F2 5%, #F2F5F2 16%, #E8F3F8 27%, #E4ECF3 40%, #F4EFED 52%, #F8EDE9 64%, #FDEBE0 75%, #FAE2CF 86%, #EFE7F6 98%);
  position: static;
  height: 10000px;*/
}



.header {
  background: rosybrown;
  /*background: #283e4c url(https://images.unsplash.com/photo-1496450080853-5f78c43af9e9?w=2250);*/
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 96px 0 192px;
}
.header::after {
  background: white;
  bottom: 0px;
  content: '';
  height: 200px;
  position: absolute;
  transform-origin: right bottom;
  transform: skewY(-4.5deg);
  width: 100%;
  z-index: 1;
}
.maxwidth {
  max-width: 960px;
  margin: 0 auto;
  @media (max-width: 767px) {
    margin: 0 32px;
  }
}
.hero {
  position: relative;
  z-index: 2;
}
.hero__img {
  height: 480px;
  width: 720px;
  z-index: -1;
  position: absolute;
  right: 0; /* align to right */
  box-shadow: 0 0 64px 8px rgba(0,0,0,.2); /* offset-x, offset-y, blur radius, spread radius */
  background: rosybrown url('../img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__content {
  z-index: 1;
  height: 400px; /* should be slightly smaller than hero__img height */
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}
